<!DOCTYPE html>
<html lang="en">

<head>
    <title>COVID-19</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .covid19 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-image: url("/virus-4835301_1920.jpg");
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="covid19 d-flex justify-content-center align-items-center text-center" style="height: 100vh;">
        <div>
            <h2 style="color: khaki;">COVID-19 API</h2>
            <div class="mt-3">
                <a href="/api/vietnam"><button type="button" class="btn btn-danger mx-2">API VIETNAM</button></a>
                <a href="/api/world"><button type="button" class="btn btn-success mx-2">API WORLD</button></a>
            </div>
        </div>
    </div>
</body>

</html>